.link{
text-decoration: none;
}
.error{
    color:red;
   
}
.activeImage{
    opacity: 0.5;
}
.activeImage:hover{
    opacity: none;
}
.activeImage:active{
    opacity: none;
}
.activa{
    opacity:none;
}

